# ----API keys----


# (REQUIRED): Get your key at: https://openrouter.ai/
# This app uses paid LLMs, your OpenRouter account needs credits (minimum deposit value is enough).
OPENROUTER_API_KEY=replace_with_your_key_here