# ----API keys----


# (REQUIRED): Get your key at: https://openrouter.ai/keys
# This app uses paid LLMs, your OpenRouter account needs credits (minimum deposit value is enough).
OPENROUTER_API_KEY=your_openrouter_api_key_here 